

body{
    background-color: whitesmoke;
    color:#5E503F;
  
}
#page_wrapper{
    border: 1px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    'nav nav nav'
    'body body body'
    'footer footer footer';
    position:relative;
}


#body{
    font-family: 'Inconsolata', monospace;
    grid-area:body;
    display:grid;
    grid-template-areas: "left_box content right_box";
    position:relative;
    
}
#content{
    background-color:antiquewhite;
    grid-area:content;
    height:fit-content;
    padding-bottom:25px;
    
}
#content p{
    text-align:center;
    font-size:18px;
    font-weight: 550;
}
#content h1{
   text-align:center;
    font-size:25px;
    font-weight: 700;
}
#left {
    grid-area:left_box;
   
    border-right:1px dashed black;
}
#right{
   grid-area:right_box;
    border-left:1px dashed black;
}

#footer{
	text-align:center;
	background-color:#262924;
	grid-area:footer;
	padding:25px;
	color:#F5F5EF;
	font-size:16px;
    position:relative;
	
}
#footer a{
	color:#F5F5EF;
	text-decoration:none;
}
#nav{
    grid-area: nav;
    display:flex;
    justify-content:center;
    position:sticky;
    top:3px;
    bottom: auto;
    z-index:1;
    height:35px;
    padding-bottom:25px;
   
    
}

.nav-item{
    color:#86838368;
    padding:35px;
    background-color:black;
    opacity:.8;
    border: 2px solid #A9927D;
}
.nav-item a{
    text-decoration:none;
    color:#262924;
}
.nav-item a:visited {
    text-decoration: none;
    color:#86838368;
}

.nav-item a:hover{
    font-size:17px;
    color:white;
}

#hours li{
    display:flex;
    padding:15px;
    margin:10px;
    justify-content: center;;
}


#hours{
    background-color:white;
    padding:5px;
}

   #disclaimer{
    Width:100%;
    height:100%;
    position:fixed;
    z-index:2;
    background-color:#262924;
    opacity:.9;
    color:white;
    display:flex;
    justify-content:center;
   }
   #section{
    margin:auto;
   }
   #disclaimer button{
    all:unset;
    border: 2px solid #A9927D;
    padding:15px;
    

   }
   #hours li{
    list-style-type: none;
   }
#map{
    margin:50px;
}
.splide__slide p{
    color:White;
    text-align: right;
}
#logo{
color:red;
font-size:25px;
}

#welcome{
    background-image:url("img/front.jpg");
    background-size:cover;
    width:100%;
    height:650px;
  
    background-repeat: no-repeat;
   

}